th{
  border: 1px #000000 solid;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

body{
  display: flex;
  justify-content: center;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
}

table{
  align-items: center;
}

img {
  max-width: 80px;
  max-height: 80px;
}

.buttons{
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: aquamarine;
  border:none;
}
